// Entrance

html, body {
  width: 100%;
  height: 100%;
  min-height: 576px;
}

body {
  overflow-y: scroll;
}

#title {
  position: relative;
  z-index: 1000;
  height: 144px;
  margin-bottom: .5rem;
  border-bottom: 2px solid $gray-100;
  transition: 1s all ease-in-out;
}

h1 {
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 21rem;
  font-size: 3rem;
  line-height: 1.5rem;
  text-align: center;
  transition: 1s all ease-in-out;
  
  span {
    font-size: 1rem;
  }

  @include media-breakpoint-up("md") {
    left: 12.5%;
  }
}

.entrance {
  #title {
    height: 50vh;
    
    h1 {
      left: 50%;
      margin-left: -10.5rem;
    }
  }
}

#menu {
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  
  li:not(:first-child)::before {
    content: "/";
    margin-right: .65em
  }
}


// Common

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.15rem;
  padding-left: 0.65rem;
  padding-bottom: 5px;
  border-bottom: 1px dotted $gray-100;
  line-height: 1
}

h3 {
  padding-left: .65rem;
  border-left: 0.35rem solid $gray-100;
  font-size: 1.5rem;
}

h4 {
  margin-top: 1.75rem;
  font-weight: 500;
  font-size: 1.25rem;
  
  &::before {
    content: "- ";
    vertical-align: 8%;
  }
}

h5, h6 {
  font-weight: 500;
  font-size: 1rem;
}

p {
  text-align: justify;
  text-indent: .65em;
}

caption {
  caption-side: top;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-style: italic;
  font-size: $font-size-sm;
  color: $gray-200;
}


// Docs

.docs-nav, .docs-nav-item {
  list-style-type: upper-roman;
  padding-left: 2rem;
}

.docs-nav-item {
  list-style-type: lower-roman;
  margin-left: -1.5rem;
  margin-bottom: .25rem;
}

.docs-nav > li {
  &:first-child,
  &:last-child {
    list-style-type: none;
  }
}

.docs-nav-item > li {
  &:last-child {
    list-style-type: none;
    font-style: italic;
  }
}

.pagination {
  @include clearfix();
}


// Sample

#sample {
  position: relative;
  margin: 1.5rem auto;
}

#sample-list {
  opacity: 0;
  
  &.show {
    opacity: 1;
    transition: opacity .5s linear;
  }

  .table {
    thead th, thead td {
      padding: .5rem;
      border-top: 0;
    }
    
    tr {
      cursor: pointer;
    }
  }
}

#sample-list-overlay {
  position: absolute;
  top: 6rem;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

#sample-list.show #sample-list-overlay {
  display: none;
}

#sample-unit {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;

  .table-sm {
    th, td {
      padding: .9rem .3rem 0;
      border-top: 0;
      border-bottom: $table-border-width solid $table-border-color;
    }

  td {
      text-align: center;
    }
  }
}

.sample-unit-skills th,
.sample-unit-equips th {
  font-weight: $font-weight-base;
}


// Battle

#battle-formation,
#battle-summary,
#battle-command,
#battle-log {
  @include make-col(12);
  padding-right: 1rem;
  padding-left: 1rem;
  user-select: none;
  
  @include media-breakpoint-up("lg") {
    @include make-col(6);
  }
}

#battle-formation {
  height: 10.5rem;
  background: rgba(255, 255, 255, 0.15);
}

#battle-summary {
  height: 21rem;
  background: rgba(255, 255, 255, 0.15);
  @include media-breakpoint-up("lg") {
    background: rgba(255, 255, 255, 0.3);
  }
}

#battle-command {
  height: 10.5rem;
  background: rgba(255, 255, 255, 0.3);
}

#battle-log {
  height: 21rem;
  background: rgba(255, 255, 255, 0.3);
  @include media-breakpoint-up("lg") {
    background: rgba(255, 255, 255, 0.15);
  }
}

.caption {
  line-height: 2rem;
  margin-bottom: 0;
}


// Battle Formation

#battle-formation-row {
  @include make-row();
  margin-right: 0;
  margin-left: 0;
}

#battle-formation-col-pc-back,
#battle-formation-col-pc-forward,
#battle-formation-col-enemy-forward,
#battle-formation-col-enemy-back {
  @include make-col(3);
    
  &> div {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}

#battle-formation-col-pc-forward {
  padding-top: .75rem;
  padding-bottom: 1.25rem;
  border-right: 1px solid red;
}

#battle-formation-col-enemy-forward {
  padding-top: .75rem;
  padding-bottom: 1.25rem;
  border-left: 1px solid red;
}

#battle-formation {
  .c-bad {
    color: #fcc 
  }

  .c-worse {
    color: #f99 
  }

  .c-worst {
    color: #f66 
  }

  .dead {
    color: #f66;
  }
}


// Battle Summary

#battle-summary {
  font-size: $small-font-size;
  
  table {
    width: 100%;
  }
  
  caption {
    padding: 0;
    text-align: left;
  }
  
  thead {
    border-bottom: 1px solid $border-color;
  }
  
  th, td {
    width: 6rem;
    padding: .25rem 0;
    text-align: center;
  }
  
  th:first-child, td:first-child {
    border-right: 1px solid $border-color
  }
}


// Battle Command

#battle-command {
  overflow: auto;

  .description {
    font-size: $small-font-size;
  }

  button {
    width: 6rem;
    height: 2rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: $small-font-size;
    
    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
    
    &:not(.active):not(.excute):not(.back) {
      display: none;
    }
  }
}

#battle-command-main,
.command-option {
  max-width: 25rem;
  margin: auto;
  text-align: center;

  &:not(.active) {
    display: none;
  }
}


// Battle list and unit

#battle-info {
  position: relative;
  height: 60rem;
  margin: 3rem auto;
}

#battle-list {
  opacity: 0;
  
  &.show {
    opacity: 1;
    transition: opacity .5s linear;
  }

  .table {
    thead th, thead td {
      padding: .5rem;
      border-top: 0;
    }
    
    tr {
      cursor: pointer;
    }
  }
}

#battle-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

#battle-list.show #battle-list-overlay {
  display: none;
}

#battle-unit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;

  .table-sm {
    th, td {
      padding: .9rem .3rem 0;
      border-top: 0;
      border-bottom: $table-border-width solid $table-border-color;
    }

  td {
      text-align: center;
    }
  }
}

.battle-unit-skills th,
.battle-unit-equips th {
  font-weight: $font-weight-base;
}


// Background

#cover-image, #cover-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#cover-image {
  background: url(../images/landscape00.jpg) center center / cover no-repeat scroll;
}

#cover-gradient {
  background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
}


// Copyright

footer {
  margin: 6rem auto;
  text-align: center;
}


// Animation

.anim-show {
	animation: fadein .35s ease-out;
}
.anim-hide {
	animation: fadeout .15s ease-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
