/* Layout Sample
------------------------------*/

#sample {
  @include col("lg", 12);

  &>.inner {
    @include row();
  }
}

#sample-select {
  &>.inner {
    @include row();
    @include form();
    margin-left: 0;

    .form-group {
      @include col("md", 6);
    }

    .form-label {
      display: inline-block;
      width: 3rem;
      text-align: center;
    }
  
    .form-control {
      display: inline-block;
      width: 9rem;
    }

    @media (min-width: breakpoint("lg")) {
      margin-left: 4.5rem;
    }
  }
}

#sample-list {
  opacity: 0;
  
  &.show {
    opacity: 1;
    transition: opacity .5s linear;
  }

  .sample-list-main {
    width: 48rem;
    margin: 0 auto;

    thead th, thead td {
      padding: .5rem;
      border-top: 0;
    }
    
    tr {
      cursor: pointer;
    }
  }
}

#sample-list-overlay {
  position: absolute;
  top: 7.5rem;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  @media (min-width: breakpoint("md")) {
    top: 3rem;
  }
}

#sample-list.show #sample-list-overlay {
  display: none;
}

#sample-unit {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 7.5rem;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;

  .table {
    border-bottom: 1px solid darken(#ffffff, 30%);

    th, td {
      padding: .4rem 0;
    }
  }

  @media (min-width: breakpoint("md")) {
    top: 3rem;
  }

  @media (min-width: breakpoint("lg")) {
    width: 48rem;
  }
}

.sample-unit-body-1 {
  @include col("lg", 4);
}

.sample-unit-body-2 {
  @include col("lg", 8);

  @media (max-width: breakpoint("sm")) {
    .table {
      width: 36rem;
    }
  }
}

.sample-unit-body-3 {
  @include col("lg", 12);

  @media (max-width: breakpoint("sm")) {
    .table {
      width: 36rem;
    }
  }
}

.sample-unit-skills th,
.sample-unit-equips th {
  font-weight: $font-weight-base;
}

.border--none {
  border: 0 !important;
}
